In [1]:
#Assignment - 1 - Module- 02


#Question 2 - Describe the Role of predefined keywords in Python and provide examples of how they are used in a program.
#Example 2.1
#if, elif, else: Used for conditional statements.


score = 85

if score >= 90:
    print("Grade A")
elif 75 <= score < 90:
    print("Grade B")
elif 70 <= score < 75:
    print("Grade C")
else:
    print("Grade D")

Grade B

In [2]:
#Example 2.2 : While loop

i = 1
n = 4
while i < n:
    print(i)
    i += 1

1
2
3

In [3]:
#Example 2.3 : for loop
          
for i in range(4):
  for j in range(i+1):
    print("*", end= "")
  print()

*
**
***
****

In [4]:
#Example 2.4 : Boolean values and the absence of a value

is_active = True
is_inactive = False
value = None

if is_active:
    print("The value is active")
if value is None:
    print("No value assigned")

The value is active
No value assigned

In [5]:
#Question 3 : Compare and contrast table mutable and immutable objects in Python with examples?

#Example 3.1 - Mutable list

my_list = [1, 2, 3]
print("Original List:", my_list)

Original List: [1, 2, 3]

In [6]:
my_list.append(4)
print("Modified List:", my_list)

Modified List: [1, 2, 3, 4]

In [7]:
#Immutable Object Example (String):
my_string = "Hello"
print("Original String:", my_string)

Original String: Hello

In [8]:
# modifying the string
try:
    my_string[0] = 'h'
except TypeError as e:
    print("Error:", e)

Error: 'str' object does not support item assignment

In [10]:
# Question 4. Discuss the different types of operators in Python and provide examples of how they are used
#4.1. Arithmetic Operators

#Addition (+)
a = 6
b = 5
print(a + b)

11

In [11]:
#Subtraction (-)
print(a - b)

1

In [12]:
#Multiplication (*): 
print(a * b)

30

In [13]:
#Division (/):
print(a / b)

1.2

In [17]:
#4.2. Comparison Operators  

#Equal to (==):  Determines if two operands are identical
print(a == b)

False

In [18]:
#Greater than (>): #Checks if the first operand is larger than the second.
print(a > b)

True

In [19]:
#Less than (<): #Checks if the first operand is smaller than the second.
print(a < b)

False

In [23]:
#4.3. Logical Operators
#Logical AND (and): #This operator returns True only if both conditions are true

x = True
y = False
print(x and y)

False

In [24]:
#Logical OR (or): #This operator returns True if at least one of the conditions is true

print(x or y)

True

In [25]:
#Logical NOT (not): #This operator inverts the logical state of its operand.

print(not x)

False

In [30]:
#4.4.Assignment Operators

#Basic Assignment (=): 
#Add and Assign (+ =): 
c = 10
c += 5
print(c)

15

In [31]:
#Subtract and Assign (-=): 
c -= 3  
print (c)

12

In [32]:
#Multiply and Assign (*=):

c *= 2  
print(c)

24

In [33]:
#Divide and Assign (/=): 

c /= 4 
print(c)

6.0

In [34]:
#4.5. Bitwise Operators

#AND (&): #This operator performs a bitwise AND operation.

d = 5  # Binary: 101
e = 3  # Binary: 011
print(d & e)

1

In [35]:
#OR (|): #This operator performs a bitwise OR operation.

print(d | e)

7

In [36]:
#XOR (^): #This operator performs a bitwise XOR operation.

print(d ^ e)

6

In [37]:
#NOT (~): #This operator performs a bitwise NOT operation.

print(~d)

-6

In [38]:
#4.6 Membership Operators

#In (in): #Returns True if a value is found in the sequence

f = [1, 2, 3, 4]
print(3 in f)

True

In [40]:
#Not In (not in): #Returns True if a value is not found in the sequence

print(5 not in f)

True

In [42]:
#4.7. Identity Operators

#Is (is): #Returns True if both operands refer to the same object.

g = [1, 2, 3]
h = g
print(g is h)

True

In [43]:
#Is Not (is not): #Returns True if both operands refer to different objects.

i = [1, 2, 3]
print(g is not i)

True

In [44]:
#4.8. Special Operators
#Ternary Operator: Conditional expressions

j = 10
k = 5
smaller = j if j < k else k
print(smaller)

5

In [46]:
#Question 5. Explain the concept of type casting in Python with examples

#5.1 Implicit Type Casting

#Example 5.1.1:

a = 7
print(type(a))

<class 'int'>

In [47]:
#Example 5.1.2:

b = 3.0
print(type(b))

<class 'float'>

In [49]:
#Example 5.1.3:

c = a + b
print(c)

10.0

In [50]:
print(type(c))  # the integer a is automatically converted to a float when added to b, resulting in a float c.

<class 'float'>

In [51]:
#5.2 Explicit Type Casting

#Example 5.2.1: Converting an integer to a float 

a = 5
n = float(a)
print(n)

5.0

In [52]:
print(type(n))

<class 'float'>

In [53]:
#Example 5.2.2: Converting a float to an integer  

a = 5.9
n = int(a)
print(n)

5

In [54]:
print(type(n))

<class 'int'>

In [55]:
#Example 5.2.3: Converting an integer to a string

a = 5
n = str(a)
print(n)

5

In [56]:
print(type(n))

<class 'str'>

In [57]:
#Example 5.2.4: Converting a string to a float

a = "5.9"
n = float(a)
print(n)

5.9

In [58]:
print(type(n))

<class 'float'>

In [59]:
#Example 5.2.5: Converting a string to an integer:

a = "5"
n = int(a)
print(n)

5

In [60]:
print(type(n))

<class 'int'>

In [61]:
#Question 6. How do conditional statements work in Python? Illustrate with examples?

#Example 6.1 - if Statement
x = 10
if x > 5:
    print("x is greater than 5")

x is greater than 5

In [62]:
#Example 6.2 - if-else Statement
x = 3
if x > 5:
    print("x is greater than 5")
else:
    print("x is not greater than 5")

x is not greater than 5

In [63]:
#Example 6.3 - if-elif-else Statement
x = 7
if x > 10:
    print("x is greater than 10")
elif x == 7:
    print("x is equal to 7")
else:
    print("x is less than 10 and not equal to 7")

x is equal to 7

In [64]:
#Example 6.4 - Nested if Statements
x = 15
if x > 10:
    if x < 20:
        print("x is between 10 and 20")
    else:
        print("x is 20 or more")
else:
    print("x is 10 or less")

x is between 10 and 20

In [65]:
#Example 6.5 -  Ternary Conditional Operator
x = 5
result = "x is even" if x % 2 == 0 else "x is odd"
print(result)

x is odd

In [69]:
Question 7. Describe the different types of loops in Python and their$ use cases with examples?

#Example 7.1.1 -  for Loop
#Looping through a list

cricketers = ["Sachin", "Virat", "Rohit"]

for cricketers in cricketers:
    print(cricketers)

Object `examples` not found.
Sachin
Virat
Rohit

In [70]:
#Example 7.1.2 -  while Loop

#Printing numbers from 1 to 5
i = 1
while i <= 3:
    print(i)
    i += 1

1
2
3

In [71]:
#Example 7.1.3 -  Nested Loop

#Printing a pattern

for i in range(1, 5):
    for j in range(1, 5):
        print(f"({i}, {j})", end=" ")
    print()

(1, 1) (1, 2) (1, 3) (1, 4)
(2, 1) (2, 2) (2, 3) (2, 4)
(3, 1) (3, 2) (3, 3) (3, 4)
(4, 1) (4, 2) (4, 3) (4, 4)

In [72]:
#Example 7.1.4 -  Loop Control Statements

#Using break and continue

for i in range(1, 6):
    if i == 3:
        continue  # Skip the iteration when i is 3
    if i == 5:
        break  # Exit the loop when i is 5
    print(i)
else:
    print("Loop completed")

1
2
4

In [ ]:

#=======================Assignment-01 Ended================================